@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Poppins&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit';
}

body{
    min-height:100vh;
    background-color: #fcfcfc;
}

a{
    text-decoration: none;
    color: inherit;
}

hr{
    border: none;
    height: 1px;
    background-color: #a9a9a9;
}

.app-content{
    display: flex;
}

/* In admin/src/index.css or Navbar.css */

  .profile {
    width: 40px;   
    height: 40px;  
    border-radius: 50%; 
    object-fit: cover;  
    cursor: pointer; 
   
}  

.flex-col{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.cursor{
    cursor: pointer;
}