.about {
    /* scroll-margin-top:150px ; */
    padding-top: 180px;
    margin-top: -80px;
    background-color: white; 
    padding: 80px 0px;
    display: flex;
    justify-content: center;
    
}

.about-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 80px;
    width: 80%;
    max-width: 1200px; 
}

.about-text {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.about-text h2 {
    font-size: 40px;
    font-weight: 700;
    color: #262626;
 
    border-bottom: 4px solid tomato; 
    width: fit-content;
    padding-bottom: 10px;
}

.about-text p {
    color: #555;
    font-size: 17px;
    line-height: 1.8; 
}

.about-img {
    flex: 0.8;
    display: flex;
    justify-content: center;
}

.about-img img {
    width: 100%;
    max-width: 450px;
    /* Adds a floating shadow effect */
    filter: drop-shadow(0px 10px 10px rgba(0,0,0,0.1)); 
}

/* Mobile Responsiveness */
@media (max-width: 960px) {
    .about-content {
        flex-direction: column-reverse; /* Image goes on top on mobile */
        text-align: center;
        gap: 40px;
    }

    .about-text {
        align-items: center; /* Center the text */
    }
    
    .about-img img {
        max-width: 250px;
    }
}